<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        let senderId = "<%= senderId %>"
    </script>
    <title>Đặt lịch khám bệnh BookingCare</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/booking.js"></script>
    <style>
        .handle-error {
            display: none;
            padding: 15px;
        }
    </style>
</head>

<body>
    <div class="container fix-height">
        <div class="row" id="customerInfor">
            <div class="col-12">
                <div class="text-center mt-3">
                    <span class="title">Thông tin khách hàng</span>
                </div>
                <input type="text" id="psid" hidden>
                <div class="form-group">
                    <label for="customerName">Họ và tên:</label>
                    <input type="text" id="customerName" class="form-control " placeholder="Họ và tên...">
                </div>
                <div class="form-group">
                    <label for="email">Địa chỉ email (<span style="color: red">*</span>):</label>
                    <input type="email" id="email" class="form-control" placeholder="Địa chỉ email...">
                    <div class="invalid-feedback">Địa chỉ email không hợp lệ.</div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Số điện thoại (<span style="color: red">*</span>):</label>
                    <input type="text" id="phoneNumber" class="form-control" placeholder="Số điện thoại...">
                    <div class="invalid-feedback">Số điện thoại không hợp lệ.</div>
                </div>
                <div class="form-group">
                    <label for="birthYear">Năm sinh (<span style="color: red">*</span>):</label>
                    <input type="number" id="birthYear" class="form-control" placeholder="Năm sinh...">
                    <div class="invalid-feedback">Năm sinh không hợp lệ.</div>
                </div>
                <div class="form-group">
                    <label for="gender">Giới tính (<span style="color: red">*</span>):</label>
                    <select id="gender" class="form-control">
                        <option value="">Chọn giới tính...</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="reason">Lý do đặt lịch (<span style="color: red">*</span>):</label>
                    <textarea id="reason" class="form-control" rows="3" placeholder="Lý do đặt lịch..."></textarea>
                </div>

                <button class="btn btn-primary mb-3" id="btnBooking"> ĐẶT LỊCH </button>
            </div>

        </div>
        <div class="row handle-error" id="handleError">
            <h5>Thông tin của bạn đã được ghi nhận thành công! Hệ thống sẽ sớm kiểm tra và gửi email sau khi xác nhận
                thành công</h5>
        </div>

    </div>
    <footer>
        <div class="text-center">
            <div class="">
                <span class="mr-3"> &copy; <a title="Xem hệ thống đặt lịch BookingCare"
                        href="https://nobithao-fe-bookingcare.vercel.app" target="_blank">BookingCare</a></span>
                <span class="ml-3">
                    Tạo bởi <a href="https://facebook.com/thao.nobi.90" title="Xem trang Facebook" target="_blank">Nobi
                        Thao</a>
                </span>
            </div>
        </div>
    </footer>
</body>

</html>