<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
        <h1>HELLO NOBI</h1>
        <form method="POST" action="/setup-profile">
                <button type="submit">Setup profile</button>
        </form>

        <!-- Load Facebook SDK for JavaScript --- Facebook Chat Plugin -->
        <div id="fb-root"></div>
        <script>
                window.fbAsyncInit = function () {
                        FB.init({
                                xfbml: true,
                                version: 'v6.0'
                        });
                };
                (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                        fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your Chat Plugin code -->
        <div class="fb-customerchat" attribution=setup_tool page_id="1065655205124699">
        </div>
        </div>
</body>

</html>