<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
        <h1>HELLO NOBI</h1>
        <form method="POST" action="/setup-profile">
                <button type="submit">Setup profile</button>
        </form>
</body>

</html>